body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;

  background: linear-gradient(
      180deg,
      rgba(67, 109, 153, 0) 20%,
      rgba(67, 109, 153, 0.1) 20%,
      rgba(67, 109, 153, 0.1) 40%,
      rgba(67, 109, 153, 0.2) 40%,
      rgba(67, 109, 153, 0.2) 60%,
      rgba(67, 109, 153, 0.4) 60%,
      rgba(67, 109, 153, 0.4) 80%,
      rgba(67, 109, 153, 0.5) 80%
    ),
    linear-gradient(
      45deg,
      rgba(96, 121, 148, 0.3) 20%,
      rgba(96, 121, 148, 0.4) 20%,
      rgba(96, 121, 148, 0.4) 40%,
      rgba(96, 121, 148, 0.5) 40%,
      rgba(96, 121, 148, 0.5) 60%,
      rgba(96, 121, 148, 0.6) 60%,
      rgba(96, 121, 148, 0.6) 80%,
      rgba(96, 121, 148, 0.7) 80%
    ),
    linear-gradient(
      -45deg,
      rgba(12, 125, 247, 0) 20%,
      rgba(12, 125, 247, 0.1) 20%,
      rgba(12, 125, 247, 0.1) 40%,
      rgba(12, 125, 247, 0.2) 40%,
      rgba(12, 125, 247, 0.2) 60%,
      rgba(12, 125, 247, 0.4) 60%,
      rgba(12, 125, 247, 0.4) 80%,
      rgba(12, 125, 247, 0.6) 80%
    ),
    linear-gradient(
      90deg,
      rgba(4, 68, 138, 0) 20%,
      rgba(4, 68, 138, 0.3) 20%,
      rgba(4, 68, 138, 0.3) 40%,
      rgba(4, 68, 138, 0.5) 40%,
      rgba(4, 68, 138, 0.5) 60%,
      rgba(4, 68, 138, 0.7) 60%,
      rgba(4, 68, 138, 0.7) 80%,
      rgba(4, 68, 138, 0.8) 80%
    ),
    linear-gradient(
      -90deg,
      rgba(110, 165, 224, 0) 20%,
      rgba(110, 165, 224, 0.4) 20%,
      rgba(110, 165, 224, 0.4) 40%,
      rgba(110, 165, 224, 0.5) 40%,
      rgba(110, 165, 224, 0.5) 60%,
      rgba(110, 165, 224, 0.6) 60%,
      rgba(110, 165, 224, 0.6) 80%,
      rgba(110, 165, 224, 0.8) 80%
    ),
    linear-gradient(
      180deg,
      rgba(20, 51, 84, 0) 20%,
      rgba(20, 51, 84, 0.4) 20%,
      rgba(20, 51, 84, 0.4) 40%,
      rgba(20, 51, 84, 0.6) 40%,
      rgba(20, 51, 84, 0.6) 60%,
      rgba(20, 51, 84, 0.8) 60%,
      rgba(20, 51, 84, 0.8) 80%,
      rgba(20, 51, 84, 0.9) 80%
    );
  background-color: rgb(20, 51, 84);
  background-size: 100% 100%;
  min-height: 100%;
}
